<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fermi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0ABCE03623853EE500DDD9F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ABCE04E23853EE700DDD9F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ABCE05923853EE700DDD9F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
